.root {
    position: sticky;
    top: 0;
    z-index: 199;
    display: flex;
    align-items: center;
    padding: var(--mantine-spacing-md);

    backdrop-filter: blur(24px);

    @media (min-width: 48em) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    @media (min-width: 64em) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

